<template name="layout">
  	<div id="topBar">
    <div id="whale-fight-header" class="notehub-header-class navbar navbar-inverse navbar-fixed-top nav-header" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">고래 싸움에 새우 개이득!!</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"><a href="/">기입</a></span>
                    <span class="icon-bar"><a href="/list">올해수확량</a></span>
                </button>
            </div>
        </div>
    </div>
  	</div>
    <div id="main" class="container"> 
    	{{> yield}}
    </div>
</template>