<template name="moneyDataDetail">
    <tr>
        <td>#</td>
        <td>{{relName}}</td>
        <td>{{amount}}</td>
    </tr>
</template>

<template name="list">
    <div class="row upper-push">
        <div id="main-profit-view" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1><i class="fa fa-check-square-o"></i> 총액: {{totalAmount null}}</h1>
        </div>
    </div>
    <div class="row">
        <div id="father-profit-view" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div>
                <h3>{{totalAmount 'f'}}</h3>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>관 계</th>
                            <th>금 액</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each moneyData 'f'}}
                            {{> moenyDataDetail}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="mother-profit-view" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="">
                <h3>{{totalAmount 'm'}}</h3>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>관 계</th>
                            <th>금 액</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{#each moneyData 'm'}}
                            {{> moenyDataDetail}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row" id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
    </div>
</template>