#father-profit-view > div:nth-child(1) > h3 {
	background-color: #1CBABC;
	padding: 10px 0;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}

#mother-profit-view > div:nth-child(1) > h3 {
	background-color: #CE5973;
	padding: 10px 0;
	text-align: center;
	border-radius: 5px;	
	color: #fff;
}

#main-profit-view > h1 {
	font-size: 100px;
	text-align: center;
}

.upper-push {
	margin-top: 45px;
}

.wrapper{
	margin-top: 100px;
}