@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

body
{
	font-family:'Hanna',serif
}

#father-profit-view > div:nth-child(1) > h3
{
	background-color:#1CBABC;
	padding:10px 0;
	text-align:center;
	border-radius:5px;
	color:#fff
}

#mother-profit-view > div:nth-child(1) > h3
{
	background-color:#CE5973;
	padding:10px 0;
	text-align:center;
	border-radius:5px;
	color:#fff
}

#main-profit-view > h1
{
	font-size:100px;
	text-align:center
}

.upper-push
{
	margin-top:45px
}

#main > div:nth-child(2) > div.col-lg-10.col-md-10.col-sm-12.col-xs-12 > div > div:nth-child(1) > div.col-sm-10
{
	margin-left:-10px;
	margin-bottom:15px;
	vertical-align:top;
	font-size:0
}

#father-btn
{
	display:inline-block;
	width:50%!important
}

#mother-btn
{
	display:inline-block;
	width:50%!important
}

.father-btn
{
	background:#1CBABC!important
}

.mother-btn
{
	background:#CE5973!important
}

#dancing-gif > img
{
	width:300px;
	height:300px;
	float:right!important
}

#dancing-gif > h1
{
	float:right!important
}
